@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

.logo {
  color: blue;
  padding: 10px;
  font-style: normal;
  font-size: large;
  width: 86px;
  height: 40px;
}

.menu-item {
  position: absolute;
  top: 20px;
  right: 20px;
}

.home-section {
  gap: 10px;
  padding: 10px;
  background: url(/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.greatings {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700px;
  color: #172b4d;
}

.ability {
  color: #344563;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  size: 16px;
  font-weight: 400px;
}

.connect {
  color: #7f8cff;
  font-family: 'Inter', sans-serif;
  font-weight: 500px;
  size: 16px;
}

.social-links,
ul,
li {
  list-style: none;
  position: relative;
  display: flex;
  top: -10px;
  left: -15px;
  gap: 0.2px;
}
